html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-y: scroll;
  /* mantiene el scroll funcional */
  -ms-overflow-style: none;
  /* IE y Edge */
  scrollbar-width: none;
  /* Firefox */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari */
}